Package: online.transrights.pinkclock
Name: Pink Clock
Version: 1.0.0
Architecture: iphoneos-arm
Description: A Simple iOS tweak written in OBJ-C to change the color of your clock in the Status Bar!
Maintainer: Kota
Author: Kota & Snoolie
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.alderis (>= 1.1)
