Package: online.transrights.pinkclock
Name: Pink Clock
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: kota
Author: kota
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
